<!DOCTYPE html>
<html lang="{{request.locale.iso_code}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %} Favicon {% endcomment %}
    {% if shop.brand.logo != blank %}
    <link rel="icon" type="image/png" href="{{ shop.brand.logo | image_url: width: 32, height: 32 }}">
    {% endif %}

    {% comment %} SEO {% endcomment %}
    <title>{{ page_title }}</title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% comment %} Define & setup custom font {% endcomment %}
    {% render 'typography' %}

    {% comment %} Shopify required {% endcomment %}
    {{ content_for_header }}
</head>

<body>

    <header>{% section 'header' %}</header>
    <main>{{ content_for_layout }}</main>
    <footer>{% section 'footer' %}</footer>

    {% comment %} Common Shopify endpoints for later use {% endcomment %}
    <script>
        window.shopUrl = '{{ request.origin }}';
        window.routes = {
            cart_add_url: '{{ routes.cart_add_url }}',
            cart_change_url: '{{ routes.cart_change_url }}',
            cart_update_url: '{{ routes.cart_update_url }}',
            cart_url: '{{ routes.cart_url }}',
            predictive_search_url: '{{ routes.predictive_search_url }}',
            product_recommendations_url: '{{ routes.product_recommendations_url }}',
        };
    </script>
</body>

</html>